.aside_container {
  width: 13rem;
  height: 100vh;
  background-color: #203246;
  color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aside_container img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 4rem;
}

.aside_container nav {
  display: flex;
  flex-direction: column;
  height: 80vh;
  padding: 1rem;
}

.aside_container a {
  color: #ddd;
  text-decoration: none;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
