.aside_container {
  width: 15rem;
  height: 100vh;
  background-color: #3F3C64;
  color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside_container a {
  color: #ddd;
  text-decoration: none;
  margin: 1rem;
  font-size: 1.7rem;
}
